<app-sidebar-conttout></app-sidebar-conttout>
<app-navbar-conttout></app-navbar-conttout>
<div class="contenu">
  <main>
    <div class="container">
      <h2>Listes des patients</h2>
    </div>
    <div class="row my-5 tab">
            <div class="col-lg-12 d-flex grid-margin stretch-card tabItem">
              <div class="card tabCard w-100">
                <div class="card-body tardTab">
                  <div class="table-responsive">
                    <table class="table">
                      <thead >
                        <tr class="trHead">
                          <td class="">Nom complet</td>
                          <td class="">Email</td>
                          <td class="">Numéro</td>
                          <td class="">Ville</td>
                          <!-- <td class="">Rôle</td> -->
                          <td class="">Action</td>
                        </tr>
                      </thead>
                      <tbody >
                        <tr class="tableBody">
                          <td>
                            <div>FALL Amadem</div>
                          </td>
                          <!-- <td>
                            <div>Amadem</div>
                          </td> -->
                          <td>
                            <div>amademgmail.com</div>
                          </td>
                          <td>
                            <div>77 777 77 77</div>
                          </td>
                          <td>
                            <div>Dakar</div>
                          </td>
                          <td>
                            <div>
                              <!-- <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> -->
                              <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                              <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </main>
</div>
