
<!-- <app-footer></app-footer> -->
<!-- <app-header></app-header> -->
<!-- <app-accueil></app-accueil> -->
<!-- <app-apropos></app-apropos> -->
<!-- <app-authentification></app-authentification> -->
<!-- <app-contact></app-contact> -->
<!-- <app-dashboard-princi>pal></app-dashboard-princi> -->
<!-- <app-detail-medecins></app-detail-medecins> -->
<!-- <app-details-article></app-details-article> -->
<!-- <app-politique-confidentialite></app-politique-confidentialite> -->
<!-- <app-prise-rdv></app-prise-rdv> -->
<!-- <app-liste-medecins></app-liste-medecins> -->
<!-- <app-lites-article></app-lites-article> -->
<router-outlet></router-outlet>
 <!-- <app-dashboard-principal></app-dashboard-principal> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-sidebar-conttout></app-sidebar-conttout> -->
<!-- <app-navbar-conttout></app-navbar-conttout> -->
<!-- <app-dash-admin></app-dash-admin> -->
<!-- <app-dash-medecin></app-dash-medecin> -->
<!-- <app-gestion-article></app-gestion-article> -->
<!-- <app-gestion-utilisateur></app-gestion-utilisateur> -->
<!-- <app-liste-consultation></app-liste-consultation> -->

