
 	<!-- NAVBAR -->
   <nav class="navabarDash fixed-top ">
    <div>

    </div>
    <div class="infoProfileC ">
      <div class="infoProfileC">
        <a href="#" class="profile">
          <img src="../../../assets/profilAdminbon.png" class="profilecon"alt="">
          <!-- <img > -->
        </a>
        <div class="profilPlace">
          <p>Véronique</p>
        </div>
      </div>
      <div class="ms-5 profilPlace">
        <a class="logout"  (click)="deconnexion()">
          <i class="bi bi-box-arrow-right"></i>
          <span class="text" >Deconnexion</span>
        </a>
      </div>

    </div>
    <!-- <i class='bx bx-menu' ></i> -->
    <!-- <form action="#">
      <div class="form-input mt-3">
        <input type="search" placeholder="Search...">
        <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form> -->
    <!-- <input type="checkbox" id="switch-mode" hidden> -->
    <!-- <label for="switch-mode" class="switch-mode"></label> -->
    <!-- <a href="#" class="notification">
      <i class='bx bxs-bell' style="color: #00225A;"></i>
      <span class="num">8</span>
    </a> -->
  </nav>
  <!-- NAVBAR -->
