<app-header></app-header>
<div class=" contenuListeMedecin">
  <div class="banier" >
    <img src="../../assets/baniereArticle.png" alt="" id="banier">
  </div>
  <div class="mt-5">
    <h1 class="text-center"><u>Liste des articles</u></h1>
    <div class=" search-container">
      <input type="text" class="search-input" placeholder="Recherche...">
      <!-- <button class=""> -->
        <i class="bi bi-search me-4" style="color: #CE0033;"></i>
        <!-- <img src="loupe-icon.png" alt="Loupe"> -->
      <!-- </button> -->
    </div>
  <div>
    <div class="container" id="contenudesservice">
      <div class="row" id="service">
        <div class="" *ngFor="let article of articles">
          <div class="card border-0 ">
            <img [src]="article.image" class="card-img-top" id="imagecard" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">{{ article.nomArticle }} </h5>
              <div class="card-text text-black">
                <p>{{ article.description }}</p>
              </div>
              <div class="claplus ">
                <a href="" class="btn "  id="plus">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<div>
