<app-header></app-header>
<div class="rendezVous">
  <div>
    <h2>Prendre un rendez-vous</h2>
    <div class="container rendezVousA"  >
      <div class="partieFoto">
        <div class="rectangle">
        </div>
        <div  class="emplacementIMg">
          <img src="../../assets/profildoctor.png" alt="" class="imgRv">
        </div>
      </div>
    <div class="forRdv">
      <label>Nom:</label>
      <input type="text"  name="nom" required><br>

      <label>Email:</label>
      <input type="email"  name="email" required><br>

      <label>Mot de passe:</label>
      <input type="password"  name="password" required><br>

      <label>Téléphone:</label>
      <input type="tel"  name="telephone" required><br>


    </div>

    </div>
  </div>

</div>


<app-footer></app-footer>
