<app-header></app-header>
<div class="rendezVous">
  <div>
    <h2>Prendre un rendez-vous</h2>
    <div class="container rendezVousA"  >
      <div class="partieFoto">
        <div class="rectangle">
        </div>
        <div  class="emplacementIMg">
          <img src="../../assets/profildoctor.png" alt="" class="imgRv">
        </div>
      </div>
    <div>
      <div class="forRdv mt-5">
        <div class="">
          <label>Nom Complet:</label>
          <input type="text" class="posiInput"  name="nom" required><br>
        </div>
        <div>
          <label>Email:</label>
          <input type="password" class="posiInput"  name="password" required><br>
        </div>
        <div>
          <label>Téléphone:</label>
          <input type="tel" class="posiInput" name="telephone" required><br>
        </div>
        <div>
          <label>Type de rendez-vous</label><br>
          <input type="tel" class="posiInput" name="telephone" required><br>
        </div>
        <div>
          <label>Date:</label><br>
          <input type="tel" class="posiInput" name="telephone" required><br>
        </div>
        <div>
          <label>Heure:</label><br>
          <input type="tel" class="posiInput" name="telephone" required><br>
        </div>
      </div>
      <div class="mt-5">
        <label> Description: </label> <br>
        <!-- <input type="textarea"> -->
        <textarea name="" class="descrip"  cols="60" rows="5"></textarea>
      </div>
    </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
