
 <!-- Footer Start -->
 <div class="contenuFooter">
  <!-- <div class=" text-center contenuFooterA"> -->
    <div class=" mt-2" id="iconeRSfooter">
      <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""   id="btonrxs"><i class="bi  bi-facebook "  id="iconeFooter"></i></a>
      <a class="btn btn-light me-2 btn-md-square rounded-circle" href="" id="btonrxs"> <i class="bi bi-instagram" id="iconeFooter"></i></a>
      <a class="btn btn-light me-2 btn-md-square rounded-circle" href="" id="btonrxs"><i class="bi bi-twitter-x" id="iconeFooter"></i></a>
      <a class="btn btn-light btn-md-square rounded-circle me-2" href="" id="btonrxs"><i class="bi bi-linkedin" id="iconeFooter"></i></a>
    </div>
  <!-- </div> -->
  <!-- <div> -->
    <div class="container contenuFooterB">
      <div class="">
        <p>S'inscrire a la newsletter</p>
      </div>
      <!-- <form > -->
        <div class="">
          <input class="form-control form-control-sm " type="text" id="textmail" placeholder=" renseignez votre e-mail">
          <!-- <p class="invalid-feedback">Veuillez entrer une adresse e-mail valide.</p> -->
        </div>
        <div class="">
          <button id="myButton" class=" btn  text-white ms-5"  >S'inscrire</button>
        </div>
      <!-- </form> -->
    </div>
  <!-- </div> -->
  <div class=" contenuFooterC">
    <div id="logofooter">
      <img src="../../../assets/logo certification.png" alt="" class="logofooter">
    </div>
    <div class="container infoUtile">
      <div>
        <h6>Pages Utiles</h6>
        <p [routerLink]="['/accueil']">Accueil</p>
        <p  [routerLink]="['/apropos']"> A propos</p>
        <p  [routerLink]="['/article']">Articles</p>
      </div>
      <div>
        <h6>Pages Utiles</h6>
        <p [routerLink]="['/medecin']">Medecins</p>
        <p [routerLink]="['/confidantialite']"> Politique confidentialite</p>
        <p>Articles</p>
      </div>
      <div>
        <h6 >Contacts</h6>
        <p><i class="bi bi-envelope "></i> &nbsp;senrendezvousgmail.com</p>
        <p class=""> <i class="fa fa-phone-alt  " ></i>&nbsp;+221 33 825 57 65</p>
      </div>

    </div>
  </div>
  <div class="copyright_area">
    <div class="copyright_text">
      <p class="text-center text-white">© 2024 Sen Rendez-vous Santé. Tous droits réservés</p>
    </div>
  </div>

</div>



<!-- Footer End -->
