<section id="content">
<app-sidebar-conttout></app-sidebar-conttout>
<app-navbar-conttout></app-navbar-conttout>
<div class="contenu ">
  <main>
    <div class="container">
      <div class="cartContenu">
        <div class="carteInfo">
          <div class="d-flex class ">

            <p>Nombre de Patients</p>
            <i class="bi bi-people-fill"></i>
            <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
          </div>
        </div>
        <div class="carteInfo">
          <div class="d-flex">

            <p>Nombre de Patients</p>
            <i class="bi bi-people-fill"></i>
            <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
          </div>
        </div>
        <div class="carteInfo">
          <div class="d-flex">

            <p>Nombre de Patients</p>
            <i class="bi bi-people-fill"></i>
            <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
          </div>
        </div>

      </div>
      <div class="titre">
        <h3>Liste des incrtits</h3>
      </div>
      <div>
        <div class="">
          <div class="d-flex flex-wrap justify-content-between">
            <h5 class="card-title allUser  py-2 px-2 mt-4">Utilisateurs récents</h5>
          </div>
        <div class="row my-5 tab">
          <div class="col-lg-12 d-flex grid-margin stretch-card tabItem">
            <div class="card tabCard w-100">
              <div class="card-body tardTab">
                <div class="table-responsive">
                  <table class="table">
                    <thead >
                      <tr class="trHead">
                        <td class="">Nom</td>
                        <td class="">Prénom</td>
                        <td class="">Numéro</td>
                        <td class="">Age</td>
                        <td class="">Rôle</td>
                        <td class="">Action</td>
                      </tr>
                    </thead>
                    <tbody >
                      <tr class="tableBody mt-5">
                        <td>
                          <div>FALL</div>
                        </td>
                        <td>
                          <div>Amadem</div>
                        </td>
                        <td>
                          <div>77 777 77 77</div>
                        </td>
                        <td>
                          <div>25</div>
                        </td>
                        <td>
                          <div>Medecin</div>
                        </td>
                        <td>
                          <div>
                            <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                            <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                          </div>
                        </td>
                      </tr>
                      <tr class="tableBody mt-5">
                        <td>
                          <div>DIATTA</div>
                        </td>
                        <td>
                          <div>Véronique</div>
                        </td>
                        <td>
                          <div>77 777 77 78</div>
                        </td>
                        <td>
                          <div>30</div>
                        </td>
                        <td>
                          <div>Patient</div>
                        </td>
                        <td>
                          <div>
                            <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                            <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                          </div>
                        </td>
                      </tr>
                      <tr class="tableBody mt-5">
                        <td>
                          <div>DIOUF</div>
                        </td>
                        <td>
                          <div>Astou</div>
                        </td>
                        <td>
                          <div>77 777 77 79</div>
                        </td>
                        <td>
                          <div></div>
                        </td>
                        <td>
                          <div>Medecin</div>
                        </td>
                        <td>
                          <div>
                            <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                            <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                          </div>
                        </td>
                      </tr>
                      <tr class="tableBody mt-5">
                        <td>
                          <div>DIOUF</div>
                        </td>
                        <td>
                          <div>Astou</div>
                        </td>
                        <td>
                          <div>77 777 77 79</div>
                        </td>
                        <td>
                          <div>27</div>
                        </td>
                        <td>
                          <div>Patient</div>
                        </td>
                        <td>
                          <div>
                            <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                            <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                          </div>
                        </td>
                      </tr>
                      <tr class="tableBody mt-5">
                        <td>
                          <div>DIOUF</div>
                        </td>
                        <td>
                          <div>Astou</div>
                        </td>
                        <td>
                          <div>77 777 77 79</div>
                        </td>
                        <td>
                          <div></div>
                        </td>
                        <td>
                          <div>Medecin</div>
                        </td>
                        <td>
                          <div>
                            <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                            <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </main>

</div>
</section>
