<app-header></app-header>
<div class="contenuConf">
  <div class="banier" >
    <img src="../../assets/confidentialite.png" alt="" id="banier">
  </div>
  <div class="container">

    <div>
      <h1 class="text-center mt-5" style=" color: #CE0033;"> <u>Politique de confidentialités</u></h1>
    </div>
    <div class="container contenuConfB">
      <p>Chez 2S-Santé, nous accordons une importance primordiale à la confidentialité et à la sécurité des informations de nos utilisateurs. Cette politique de confidentialité explique comment nous collectons, utilisons, partageons et protégeons les données personnelles des utilisateurs de notre plateforme. En utilisant Sen Rendez-vous, vous consentez à notre politique de confidentialité.</p>
      <div>
        <h3> Données Collectées</h3>
        <p>Informations Personnelles :</p>
        <li>Lors de la création d'un compte, nous collectons des informations telles que votre nom, prénom, adresse e-mail, numéro de téléphone, et d'autres informations nécessaires à la gestion de votre compte.</li>
        <p>Données de Rendez-vous :</p>
        <li>Pour faciliter la prise de rendez-vous, nous collectons des informations sur les rendez-vous planifiés, y compris la date, l'heure et la raison de la consultation.</li>
        <p>Données de Paiement :</p>
        <li>Si des paiements sont effectués via notre plateforme, nous collectons les informations nécessaires pour traiter ces transactions de manière sécurisée.</li>
        <p>Données d'Utilisation :</p>
        <li>Nous recueillons des informations sur la manière dont vous utilisez Health Tec, telles que les pages consultées, les fonctionnalités utilisées, et d'autres données d'interaction avec la plateforme.</li>
      </div>
      <div>
        <h3>Utilisation des Données</h3>
        <p>Nous utilisons les données collectées pour les finalités suivantes :</p>
        <p class="mt-5">Fourniture de Services :</p>
        <li>Faciliter la prise de rendez-vous entre patients et médecins.</li>
        <li>Permettre la communication entre patients et professionnels de la santé.</li>
        <p class="mt-5">Amélioration de l'Expérience Utilisateur :</p>
        <li>Personnaliser notre plateforme pour répondre aux besoins individuels.</li>
        <li>Recueillir des commentaires pour améliorer nos services.</li>
        <p class="mt-5">Gestion de Compte :</p>
        <li>Gérer les comptes utilisateur et assurer la sécurité des informations.</li>
        <p class="mt-5">Communication :</p>
        <li>Envoyer des notifications, des rappels de rendez-vous et des informations importantes liées à l'utilisation de Sen Rendez-vous Santé.</li>
      </div>
      <div>
        <h3 class="text-center"><u>Partage des Données</u></h3>
        <p>Nous ne partageons pas vos données personnelles avec des tiers, sauf dans les cas suivants :
          Consentement de l'Utilisateur :</p>
          <li>Lorsque nous avons obtenu votre consentement explicite pour le partage de données.</li>
          <p class="mt-5">Obligations Légales :</p>
          <li>Conformément aux lois et réglementations applicables.</li>
      </div>
      <div>
        <h3> Sécurité des Données</h3>
        <p>Nous mettons en œuvre des mesures de sécurité robustes pour protéger vos données contre tout accès non autorisé, altération, divulgation ou destruction.</p>
        <p>Accès et Contrôle des Données</p>
        <p>Vous avez le droit d'accéder à vos données personnelles, de les corriger, de les supprimer ou de restreindre leur traitement.</p>
      </div>
      <div>
        <h3>Contact</h3>
        <p>Pour toute question concernant notre politique de confidentialité, veuillez nous contacter au <a href="">senrendezvous"&#64;"gmail.com </a> </p>
        <p>Votre utilisation continue de l’application constitue votre acceptation de cette politique de confidentialité.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
