<app-header></app-header>
<div class="container texte-center" *ngIf="!showConnexion">
  <h3>Inscription</h3>
  <div class="card mb-5 " >
    <div class=" row ">
      <div class="col-md-4">
        <img src="../../../assets/inscription.png" class="img-fluid " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body ">
          <div >
            <!-- <h2>Inscription</h2> -->
            <form (ngSubmit)="inscription()" class="emplacement">
              <!-- Nom -->
              <div class="form-floating mb-3" *ngIf="isMedecin || isPatient">
                <input class="form-control" id="floatingInput" placeholder="Vero" type="text" [(ngModel)]="nom" name="nom" (input)="verifNomFonction()" required><br>
                <label for="floatingInput" *ngIf="!exactNom">Nom complet:</label>
                <p class="text-danger" *ngIf="!exactNom">{{verifNom}}</p>
                <p class="text-success" *ngIf="exactNom"><i class="bi bi-check2-all"></i> Exact !</p>

              </div>

              <!-- Email -->
              <div class="form-floating mb-3" *ngIf="isMedecin || isPatient">
                <input class="form-control" id="floatingInput" placeholder="Vero" type="email" [(ngModel)]="email" name="email" (input)="verifEmailFonction()" required><br>
                <label for="floatingInput">Email:</label>
                <p class="text-danger" *ngIf="!exactEmail">{{verifEmail}}</p>
                <p class="text-success" *ngIf="exactEmail"><i class="bi bi-check2-all"></i> Exact !</p>
              </div>

              <!-- Mot de passe  -->
              <div class="form-floating mb-3" *ngIf="isMedecin || isPatient">
                <input class="form-control" placeholder="Vero" id="floatingInput" type="password" [(ngModel)]="password" name="password" (input)="verifPasswordFonction()" required><br>
                <label for="floatingInput">Mot de passe:</label>
                <p class="text-danger" *ngIf="!exactPassword">{{verifPassword}}</p>
                <p class="text-success" *ngIf="exactPassword"><i class="bi bi-check2-all"></i> Exact !</p>
              </div>
              <!-- Mot de passe cnfrir  -->
              <div class="form-floating mb-3" *ngIf="isMedecin || isPatient">
                <input class="form-control" placeholder="Vero" id="floatingInput" type="password" [(ngModel)]="password" name="password" (input)="verifPasswordFonction()" required><br>
                <label for="floatingInput">confirmation mot de passe:</label>
                <p class="text-danger" *ngIf="!exactPasswordConf">{{verifPassword}}</p>
                <p class="text-success" *ngIf="exactPasswordConf"><i class="bi bi-check2-all"></i> Exact !</p>
              </div>

              <!-- Téléphone  -->
              <div class="form-floating mb-3" *ngIf="isMedecin || isPatient">
                <input class="form-control" id="floatingInput" placeholder="Vero" type="tel" [(ngModel)]="telephone" name="telephone" (input)=" verifTelephoneFonction()" required><br>
                <label for="floatingInput">Téléphone:</label>
                <!-- <p class="text-danger" *ngIf="!exactTelephone">{{verifTelephoneFonction}}</p> -->
                <p class="text-success" *ngIf="exactTelephone"><i class="bi bi-check2-all"></i> Exact !</p>
              </div>

              <!-- Genre  -->
              <div class="form-floating mb-3" *ngIf="isMedecin || isPatient">
                <select class="form-control" id="floatingInput" placeholder="Genre" [(ngModel)]="genre" name="genre" required>
                  <option value="">Genre:</option>
                  <option value="homme">Homme</option>
                  <option value="femme">Femme</option>
                </select>
                <!-- <label for="floatingInput">Genre:</label> -->
              </div>

              <!-- Ville  -->
              <div class="form-floating mb-3" *ngIf="isMedecin || isPatient">
                <select class="form-control" id="floatingInput"placeholder="Vero" [(ngModel)]="ville" name="ville" required>
                  <option value="">Ville:</option>
                  <option *ngFor="let v of villes" [value]="v.id">{{ v.nom }}</option>
                </select>
                <!-- <label for="floatingInput">Ville:</label> -->
              </div>

              <!-- Secteur speciialiste -->
              <div class="form-floating mb-3" *ngIf="isMedecin">
                <select class="form-control" id="floatingInput"placeholder="Vero" [(ngModel)]="secteur_activite" name="secteur" required>
                  <option value="">Secteur speciialiste:</option>
                  <option *ngFor="let s of secteursSpecialistes" [value]="s.id">{{ s.nom }}</option>
                </select>
                <!-- <label for="floatingInput">Ville:</label> -->
              </div>

              <!-- Hopital  -->
              <div class="form-floating mb-3" *ngIf="isMedecin">
                <select class="form-control" id="floatingInput" placeholder="Vero" [(ngModel)]="hopital" name="hopital" required>
                  <option value="">Hopital</option>
                  <option *ngFor="let h of hopitaux" [value]="h.id">{{ h.nom }}</option>
                </select>
                <!-- <label for="floatingInput">Hôpital:</label> -->
              </div>

              <!-- Age  -->
              <div class="form-floating mb-3" *ngIf="isPatient">
                <input class="form-control" id="floatingInput" placeholder="Vero" type="number" [(ngModel)]="age" name="age" required><br>
                <label for="floatingInput">Age:</label>
              </div>

              <button type="submit" (click)=" validerInscription() ">S'inscrire</button>
              <button type="submit" (click)="annulerInscription()">Annuler</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container texte-center" *ngIf="showConnexion">
  <h3>Connexion</h3>
  <div class="card mb-5">
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/connexion bon.png" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body emplacement">
          <div>
            <h2>Connexion</h2>
            <form (ngSubmit)="connexion()">
              <label>Email:</label>
              <input type="email"  [(ngModel)]="email" name="email" required><br>

              <label>Mot de passe:</label>
              <input type="password" [(ngModel)]="password" name="password" required><br>

              <button type="submit">Se connecter</button>
            </form>
            <div (click)="afficherFrmConnexion()">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Inscrivez-vous si vous n’avez pa de compte
              </button>
            <!-- <div (click)=" afficherFrmConnexion() "> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Pop-up pour Choisir le Rôle -->
<!-- <div class="role-popup" *ngIf="showRolePopup">
  <div class="role-popup-content">
    <h2>Choisissez votre rôle :</h2> -->
    <!-- Liens pour s'inscrire en tant que médecin ou patient -->
    <!-- <a href="#" (click)="showRolePopup = false; roleSelected('medecin')">Inscription Médecin</a>
    <a href="#" (click)="showRolePopup = false; roleSelected('patient')">Inscription Patient</a> -->
    <!-- Bouton pour fermer le pop-up -->
    <!-- <button (click)="showRolePopup = false">Fermer</button>
  </div> -->
<!-- </div> -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <p class="link" (click)="inscriptionPatient()" data-bs-dismiss="modal"> (Patient)</p>
        <p class="link" (click)="inscriptionMedecin()" > (Medecin)</p>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
