.rectangle{
  background-color: #CE0033;
  height: 55vh;
  border-radius: 25px;
  width: 50vh;
}
.imgRv{
  height: 55vh;
  /* width: 100%; */
  border-radius: 25px;
  width: 50vh;
}
.emplacementIMg{
  margin-top: -43vh;
  margin-left: 10vh;

}
.rendezVous{
margin-bottom: 10vh;
}
.rendezVousA{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5vh;
  /* border: 4px solid #ff2fff; */
}

.carteArticle{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-top: 5vh;
  gap: 5vh;
}

main{
  width: 100%;
  margin-left: 10%;
}
.contenu{
  width: 70%;
  margin: 2% auto;
 
  /* border: 1px solid red; */
}
/* .partieFoto{

} */

.posiInput{
  border: 2px solid #CE0033;
  border-radius: 20px;
  height: 7vh;
  gap: 4vh;
}
.forRdv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:3vh;
}
.descrip{
  border: 2px solid #CE0033  !important;

}
.rendez-vous{
  border-radius: 15px;
  border: 2px solid #CE0033;
  color: #CE0033;
  font-weight: bold;
}
 .infoPersonnelB3{
  margin-top: 5vh;
  /* margin-bottom: 5vh; */

}

 @media screen and (max-width: 1120px) {
  .rectangle,
  .imgRv {
    height: 50vh;
    width: 50vw;
  }

  .emplacementIMg {
    margin-top: -33vh;
    margin-left: 5vh;
  }

  .rendezVousA {
    grid-template-columns: 80%;
    justify-content: center;
    /* gap: 4vh; */
  }
  main{
    width: 100%;
    margin-left: 20%;
    justify-content: center;
  }
  .contenu{
    width: 70%;
    margin: 2% auto;
    /* border: 1px solid red; */
  }
  /* .forRdv {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vh;
  } */
}
 @media screen and (max-width:968px) {
  .rectangle,
  .imgRv {
    height: 45vh;
    width: 45vh;
  }

  .emplacementIMg {
    margin-top: -33vh;
    margin-left: 5vh;
  }

  .rendezVousA {
    grid-template-columns: 80%;
    justify-content: center;
    /* gap: 4vh; */
  }
  main{
    width: 100%;
    margin-left: 20%;
    justify-content: center;
  }
  .contenu{
    width: 70%;
    margin: 2% auto;
    /* border: 1px solid red; */
  }
  .descrip{
    border: 2px solid #CE0033  !important;
    width: 90% !important;
  }
  /* .forRdv {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vh;
  } */
}
 @media screen and (max-width:768px) {
  .rectangle,
  .imgRv {
    height: 40vh;
    width: 40vh;
  }

  .emplacementIMg {
    margin-top: -33vh;
    margin-left: 5vh;
  }

  .rendezVousA {
    grid-template-columns: 80%;
    justify-content: center;
    /* gap: 4vh; */
  }
  main{
    width: 100%;
    margin-left: 20%;
    justify-content: center;
  }
  .contenu{
    width: 70%;
    margin: 2% auto;
    /* border: 1px solid red; */
  }
  .forRdv {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vh;
  }
  .partieFoto{
    width: 70%;
  }
}



@media screen and (max-width: 480px) {
  .rectangle,
  .imgRv {
    height: 40vh;
    width: 60vw;
  }

  .emplacementIMg {
    margin-top: -33vh;
    margin-left: 5vw;
  }

  .rendezVousA {
    grid-template-columns: 1fr;
  }

  .forRdv {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vh;
  }

}
/* @media screen and (max-width: 768px) {
  .rectangle,
  .imgRv {
    height: 40vh;
    width: 70vw;
  }

  .emplacementIMg {
    margin-top: -33vh;
    margin-left: 5vw;
  }

  .rendezVousA {
    grid-template-columns: 1fr;
  }

  .forRdv {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vh;
  }
} */


/* @media screen and (max-width: 768px) {
  .rectangle,
  .imgRv {
    height: 40vh;
    width: 70vw;
  }

  .emplacementIMg {
    margin-top: -33vh;
    margin-left: 5vw;
  }

  .rendezVousA {
    grid-template-columns: 1fr ;
  }

  .forRdv{
    display: grid;
    grid-template-columns: 1fr;
    gap:3vh;
  }
} */
