<section>
  <section class="sidebar" id="sidebar">
    <!-- <div class="brand " id="brand">
      <!-- <span class="text text-white"><img src="assets/dashboard/logofooter.png" alt=""></span> -->
      <!-- <div class="ms-3"> -->
        <!-- <p class="mt-3" style="font-size: 16px;">Gorgui Amadem FALL</p> -->
        <!-- <p style="font-size: 14px;">en ligne</p> -->

      <!-- </div> -->
    <!-- </div> -->
    <div>
      <img src="../../assets/profilAdminbon.png" alt="" class=" ms-5 profilecon">
    </div>
    <ul class="side-menu top">
			<li class="active">
				<a >
					<i class='bx bxs-dashboard' [routerLink]="['/dashboard']"></i>
					<span class="text-white" [routerLink]="['/dashboard']">Dashboard</span>
				</a>
			</li>
			<li>
				<a>
					<i class='bx bxs-shopping-bag-alt' [routerLink]="['/gestion-contenu']"></i>
					<span class="text" [routerLink]="['/gestion-contenu']">Gestion contenu</span>
				</a>
			</li>
			<li>
				<a >
					<i class='bx bxs-doughnut-chart' [routerLink]="['/gestion-user']"></i>
					<span class="text" [routerLink]="['/gestion-user']">Gestion utilisateurs</span>
				</a>
			</li>
			<li>
				<a >
		      <i class='bx bxs-message-dots' [routerLink]="['/gestion-profil']"></i>
					<span class="text" [routerLink]="['/gestion-profil']">Gestion Role</span>
				</a>
			</li>
		</ul>

    <ul class="side-menu mt-4">

			<li>
				<a class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text-white">Profil</span>
				</a>
			</li>
		</ul>
  </section>  <section id="content">
    	<!-- NAVBAR -->
		<nav class="navabarDash">
      <div></div>
      <div class="infoProfileC">
        <div class="infoProfileC">
          <a href="#" class="profile">
            <img src="img/people.png">
          </a>
          <div>
            <p>Véronique</p>
          </div>
        </div>
        <div class="ms-5">
          <a class="logout" [routerLink]="['/accueil']">
            <i class="bi bi-box-arrow-right"></i>
            <span class="text">Deconnexion</span>
          </a>
        </div>

      </div>
			<!-- <i class='bx bx-menu' ></i> -->
			<!-- <form action="#">
				<div class="form-input mt-3">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form> -->
			<!-- <input type="checkbox" id="switch-mode" hidden> -->
			<!-- <label for="switch-mode" class="switch-mode"></label> -->
			<!-- <a href="#" class="notification">
				<i class='bx bxs-bell' style="color: #00225A;"></i>
				<span class="num">8</span>
			</a> -->
		</nav>
		<!-- NAVBAR -->
    <main>
      <div class="container">
        <div class="cartContenu">
          <div class="carteInfo">
            <div class="d-flex class ">

              <p>Nombre de Patients</p>
              <i class="bi bi-people-fill"></i>
              <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
            </div>
          </div>
          <div class="carteInfo">
            <div class="d-flex">

              <p>Nombre de Patients</p>
              <i class="bi bi-people-fill"></i>
              <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
            </div>
          </div>
          <div class="carteInfo">
            <div class="d-flex">

              <p>Nombre de Patients</p>
              <i class="bi bi-people-fill"></i>
              <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
            </div>
          </div>

        </div>
        <div class="titre">
          <h3>Liste des incrtits</h3>
        </div>
        <div>
          <div class="">
            <div class="d-flex flex-wrap justify-content-between">
              <h5 class="card-title allUser  py-2 px-2 mt-4">Utilisateurs récents</h5>
            </div>
          <div class="row my-5 tab">
            <div class="col-lg-10 d-flex grid-margin stretch-card tabItem">
              <div class="card tabCard w-100">
                <div class="card-body tardTab">
                  <div class="table-responsive">
                    <table class="table">
                      <thead >
                        <tr class="trHead">
                          <td class="">Nom</td>
                          <td class="">Prénom</td>
                          <td class="">Numéro</td>
                          <td class="">Age</td>
                          <td class="">Rôle</td>
                          <td class="">Action</td>
                        </tr>
                      </thead>
                      <tbody >
                        <tr class="tableBody mt-5">
                          <td>
                            <div>FALL</div>
                          </td>
                          <td>
                            <div>Amadem</div>
                          </td>
                          <td>
                            <div>77 777 77 77</div>
                          </td>
                          <td>
                            <div>25</div>
                          </td>
                          <td>
                            <div>Medecin</div>
                          </td>
                          <td>
                            <div>
                              <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                              <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                              <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                            </div>
                          </td>
                        </tr>
                        <tr class="tableBody mt-5">
                          <td>
                            <div>DIATTA</div>
                          </td>
                          <td>
                            <div>Véronique</div>
                          </td>
                          <td>
                            <div>77 777 77 78</div>
                          </td>
                          <td>
                            <div>30</div>
                          </td>
                          <td>
                            <div>Patient</div>
                          </td>
                          <td>
                            <div>
                              <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                              <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                              <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                            </div>
                          </td>
                        </tr>
                        <tr class="tableBody mt-5">
                          <td>
                            <div>DIOUF</div>
                          </td>
                          <td>
                            <div>Astou</div>
                          </td>
                          <td>
                            <div>77 777 77 79</div>
                          </td>
                          <td>
                            <div></div>
                          </td>
                          <td>
                            <div>Medecin</div>
                          </td>
                          <td>
                            <div>
                              <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                              <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                              <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                            </div>
                          </td>
                        </tr>
                        <tr class="tableBody mt-5">
                          <td>
                            <div>DIOUF</div>
                          </td>
                          <td>
                            <div>Astou</div>
                          </td>
                          <td>
                            <div>77 777 77 79</div>
                          </td>
                          <td>
                            <div>27</div>
                          </td>
                          <td>
                            <div>Patient</div>
                          </td>
                          <td>
                            <div>
                              <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                              <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                              <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                            </div>
                          </td>
                        </tr>
                        <tr class="tableBody mt-5">
                          <td>
                            <div>DIOUF</div>
                          </td>
                          <td>
                            <div>Astou</div>
                          </td>
                          <td>
                            <div>77 777 77 79</div>
                          </td>
                          <td>
                            <div></div>
                          </td>
                          <td>
                            <div>Medecin</div>
                          </td>
                          <td>
                            <div>
                              <i class="fa-solid fa-eye me-3" style="color: #E68513;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                              <i class="fa-solid fa-pen me-3" style="color: #E68513;"></i>
                              <i class="fa-solid fa-ban me-3" style="color: #E68513;"></i>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </main>

  </section>


</section>
