<app-header></app-header>
<div>
  <div class="banier" >
    <img src="../../assets/bannierApropo.png" alt="" id="banier">
  </div>
  <div class="container">
    <div class="titre text-center mt-5">
      <h1> A propos de nous</h1>
      <div></div>
      <div></div>
    </div>
    <div class="intro mt-5">
      <!-- <div class="imgApro"> -->
        <img src="../../assets/aproposde nouss.png" alt="" class="imgApro">
      <!-- </div> -->
      <div>
        <p>   Bienvenue sur 2S-Santé, une initiative
          dédiée à la transformation et à l'amélioration de la
           gestion des rendez-vous médicaux. Nous croyons fermement que des soins de qualité commencent par une organisation efficace et une communication transparente
          entre les patients et les professionnels de la santé</p>
      </div>
    </div>
    <div class="contenuApropos mt-5">
      <h4> Nos Objectifs</h4>

      <h6>Amélioration de la Gestion des Rendez-vous</h6>
      <p>Nous nous engageons à optimiser le processus de prise de rendez-vous, mettant ainsi fin aux tracas liés à la planification et réduisant les risques d'erreurs. À travers  2S-Santé, notre objectif est de simplifier votre expérience en matière de rendez-vous médicaux, assurant ainsi une coordination plus
        efficace et un accès rapide aux soins dont vous avez besoin.</p>

      <h6>Sécurité et Confidentialité</h6>
      <p>La protection de vos données médicales est notre priorité absolue. Nous mettons en œuvre des mesures de sécurité avancées pour garantir la confidentialité de vos informations personnelles. Notre équipe s'efforce constamment d'adopter les meilleures pratiques en matière de sécurité informatique, assurant ainsi
         la confidentialité et la protection des données sensibles.</p>
      <h6>
        Communication entre Patients et Docteurs</h6>
      <p>Nous croyons que la communication est essentielle pour des soins de qualité. À travers notre plateforme, nous visons à faciliter la communication entre les patients et les docteurs. Vous bénéficierez d'une interface conviviale qui favorise une compréhension mutuelle, permettant aux professionnels de la santé de mieux comprendre vos besoins et aux patients de participer activement à leur propre parcours de soins</p>
      <!-- <h6></h6>
      <p></p>
      <h6></h6>
      <p></p>
      <h6></h6>
      <p></p>
      <h6></h6> -->
      <p> Chez 2S-Santé, nous sommes convaincus que l'innovation et l'engagement envers l'amélioration continue sont essentiels pour créer un environnement de soins de santé exceptionnel. Explorez notre plateforme et découvrez comment nous pouvons simplifier et améliorer votre parcours de soins médicaux.
        Merci de faire partie de cette initiative qui vise à redéfinir la manière dont nous gérons les rendez-vous médicaux, assurant ainsi des soins plus efficaces, sécurisés et centrés sur le patient.</p>
        <p>
          L'équipe 2S-Santé vous remercie et est votre disposition pour tous vos questions.
        </p>
    </div>
  </div>

</div>

<app-footer></app-footer>
