<app-sidebar-conttout></app-sidebar-conttout>
<app-navbar-conttout></app-navbar-conttout>
<!-- MAIN -->

  <div class="contenu">
    <main>
      <div class="container">
        <button type="button" class="btn btnAdd ajout" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Ajouter un Article
        </button>
        <div class="carteArticle">
          <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let article of articles">
            <div class="card imgCard" style="width: 18rem;">
              <img src="http://127.0.0.1:8000/storage/{{ article.image }}" class="card-img-top" alt="..." id="imagecard">
              <div class="card-body taileCart">
                <div class="corpsCart">

                  <h5 class="card-title">{{ article.titre }}</h5>
                  <p class="card-text">{{ article.description | slice:0:100 }}{{ article.description.length > 100 ? '...' : '' }}</p>
                </div>
                <a class="text-center d-flex justify-content-center">
                  <i class="fa-solid fa-eye me-4" style="color: #CE0033;"   data-bs-toggle="modal" data-bs-target="#exampleModal-details" (click)="afficherDetailsArticle(article)"></i>
                  <i class="fa-solid fa-pen me-4" style="color: #CE0033;" data-bs-toggle="modal" data-bs-target="#exampleModal-modifier" (click)=" chargerInfosArticle(article)"></i>
                  <i class="fa-solid fa-trash-can me-4" style="color: #CE0033;" (click)="supprimerArticle(article.id)"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
    </main>

  </div>
<!-- ajout Article -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un article</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="titre" class="form-label">Titre</label>
          <input type="text" class="form-control" id="titre" [(ngModel)]="titre" placeholder="">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" [(ngModel)]=" description" rows="3"></textarea>
        </div>

        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Image(s)</label>
          <input class="form-control" type="file" id="formFileMultiple"  (change)="getFile($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="ajout()" data-bs-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>


<!-- modifier articlre -->

<div class="modal fade" id="exampleModal-modifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier un article</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="titre" class="form-label">Titre</label>
          <input type="text" class="form-control" id="titre" [(ngModel)]="titre" placeholder="">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" [(ngModel)]=" description" rows="3"></textarea>
        </div>

        <div class="mb-3">
          <label for="formFileMultiple"  class="form-label">Image(s)</label>
          <input class="form-control" [(ngModel)]="image" type="file" id="formFileMultiple"  (change)="getFile($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <!-- <button type="button" class="btn btn-primary" (click)="modifierarticle()" data-bs-dismiss="modal">modifier</button> -->
      </div>
    </div>
  </div>
</div>
<!-- details -->
<div class="modal fade" id="exampleModal-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détails de l'article</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngFor="let article of articles">
        <div class="mb-3">
          <label class="form-label">Image(s)</label>
          <img src="http://127.0.0.1:8000/storage/{{ article.image }}" class="card-img-top" alt="..." id="imagecard">

          <!-- <img [src]="http://127.0.0.1:8000/storage/{{ article.image }}" class="img-fluid" alt="Image de l'article"> -->
        </div>
        <div class="mb-3">
          <label class="form-label">Titre</label>
          <p>{{ article.titre }}</p>
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <p>{{ article.description }}</p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>



